亲爱的用户：
<br/>
您于 ${dt} 申请重置密码，请点击以下链接重新设置您的密码(如果您无法点击此链接，请将它复制到浏览器地址栏后访问): 
<br/>
<a href="${url}">${url}</a>
<br/><br/>
为了保障您帐号的安全性：<br/>
1. 该链接在您修改完密码之后将失效。<br/>
2. 该链接在您重新申请密码重置后将失效。<br/>
3. 该链接在48小时之后将失效。<br/>
<br/>
-----------------------  <br/>
(这是一封自动产生的email，请勿回复。)  