亲爱的用户：
非常感谢您使用我们的mock工具。

密码重置链接为: ${url} 密码重置成功后，就可以使用您的用户名和密码正常登录该工具。

因为本次公网上发布的是封测版本，有很多功能还不完善或者存在一些缺陷，大家使用过程中有任何疑问、建议、需求以及吐槽，甚至骂街都可以在以下github项目上提交issue:
https://github.com/mock-api-agilean/issue-tracking/issues
我们会尽最大努力答复并解决。

Best regards
Agilean
      
-----------------------  
(这是一封自动产生的email，请勿回复。)  