.mocker-setting-panel-bc {
  .setting-op-list {
    .btn {
      margin-top: 20px;
    }
  }
}

.mocker-count-sidebar-bc {
  &.list-group {
    .fa {
      font-size: 30px;
      text-align: right;
      position: absolute;
      top: 12px;
      right: 20px;
      outline: none;
    }

    a {
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;

      i, .list-group-item-heading {
        color: @mocker-viewer-sidebar-item-color
      }

      &:hover {
        background-color: @mocker-viewer-sidebar-item-color;

        * {
          color: @mocker-viewer-sidebar-item-hover-color;
        }
      }
    }
  }
}

.mocker-dashboard-container-bc {
  padding-top: 70px;
  #tab-breadcrumb-bc;

  .mocker-list-panel-bc {

    .list-item {
      position: relative;
      border-bottom: 1px solid @mocker-list-panel-item-border-color;
      line-height: 64px;

      .item-container {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        width: 100%;
        float: left;

        a {
          font-size: 18px;
          display: inline;
          overflow: hidden;
        }

        .count {
          margin-left: 5px;
          display: inline;
          font-size: 14px;
          color: @mocker-list-panel-item-counter-color;
        }

        .item-icon {
          width: 35px;
          height: 35px;
          float: left;
          margin: 0.9375rem 0.625rem 0 0;
          background-color: @mocker-list-panel-item-inon-background-color;

          div {
            position: absolute;
            left: 0.60764rem;
            top: 0;
            text-align: center;
            color: @mocker-list-panel-item-inon-text-color;
            line-height: 35px;
            height: 35px;
            width: 35px;
            margin-top: 1.2375rem;
          }
        }
      }
    }
  }
}

.mocker-selector-panel-bc {

  .selector-item {
    .selector-item-btn {
      margin-left: -36px;
    }
  }

  label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
  }

  input[type="checkbox"] {

    &:empty {
      display: none;
      & ~ label {
        position: relative;
        line-height: 2.5em;
        text-indent: 3.25em;
        margin-top: 5px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:before {
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          left: 0;
          content: '';
          width: 2.5em;
          background: #D1D3D4;
          border-radius: 3px 0 0 3px;
        }
      }
    }

    &:hover:not(:checked) ~ label {
      color: #888;
      &:before {
        content: '\2714';
        text-indent: .9em;
        color: #C2C2C2;
      }
    }

    &:checked ~ label {
      color: #777;
      &:before {
        content:'\2714';
        text-indent: .9em;
        color: #fff;
        background-color: #337ab7;
      }
    }

    &:focus ~ label:before {
      box-shadow: 0 0 0 3px #999;
    }
  }
}

.mocker-search-result-panel-bc {
  padding-top: 70px;

  h2 {
    margin-top: 0;
    padding-right: 10px;
  }
  ul {
    margin-bottom: 0;
  }

}

