<div class="change-password-form-bc">
    <form class="form-horizontal" ng-submit="save()">
        <div class="modal-body">
            <fieldset>
                <legend>修改密码</legend>
                <div class="form-group">
                    <label class="col-sm-3 control-label">用户名</label>
                    <div class="col-sm-6">
                        <input type="text" readonly="true" value="{{currentUser.name}}" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><sup><i class="fa fa-asterisk text-danger"></i></sup>原密码</label>
                    <div class="col-sm-6">
                        <input type="password" ng-model="user.password" class="form-control" required placeholder="输入原密码">
                        <code ng-if="invalidMessage.oldPwd">
                            <i class="fa fa-warning"></i>{{invalidMessage.oldPwd}}
                        </code>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><sup><i class="fa fa-asterisk text-danger"></i></sup>新密码</label>
                    <div class="col-sm-6">
                        <input type="password" ng-model="user.newPwd" class="form-control" required placeholder="输入新密码">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><sup><i class="fa fa-asterisk text-danger"></i></sup>新密码</label>
                    <div class="col-sm-6">
                        <input type="password" ng-model="user.confirmedPwd" class="form-control" required placeholder="确认新密码">
                        <code ng-if="invalidMessage.newPwd">
                            <i class="fa fa-warning"></i>{{invalidMessage.newPwd}}
                        </code>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <a href="" class="btn btn-default" ng-click="dismiss()">关闭</a>
            <input type="submit" class="btn btn-submit-bc" value="保存">
        </div>
    </form>
</div>
