<div class="user-form-bc">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap" ng-if="isReset">
                    <h1>重新设置密码</h1>
                    <form ng-submit="reset()" id="reset-form" autocomplete="off">
                        <div class="form-group">
                            <label for="input-reset-email" class="sr-only">Email</label>
                            <input type="text" id="input-reset-email" class="form-control"
                                   value="{{userInfo.name}}" readonly="true">
                        </div>
                        <div class="form-group">
                            <label for="input-key" class="sr-only">Password</label>
                            <input type="password" id="input-key" class="form-control"
                                   placeholder="您要使用的新密码" required
                                   ng-model="userInfo.newPwd">
                        </div>
                        <div class="form-group">
                            <label for="input-key-again" class="sr-only">Password</label>
                            <input type="password" id="input-key-again" class="form-control"
                                   placeholder="再次输入和上面一致的密码" required
                                   ng-model="userInfo.confirmedPwd">
                        </div>
                        <div class="alert alert-danger" ng-if="invalidMessage.$form">
                            <i class="fa fa-warning"></i>{{invalidMessage.$form}}
                        </div>
                        <input type="submit" class="btn btn-submit-bc btn-lg btn-block" value="重置密码">
                    </form>
                </div>
                <div class="form-wrap" ng-if="!isReset">
                    <h1 class="page-header">提交重置密码申请后会在您填写的邮箱中收到密码重置邮件</h1>
                    <form ng-submit="apply()" id="apply-reset-form" autocomplete="off">
                        <div class="form-group">
                            <label for="input-apply-email" class="sr-only">Email</label>
                            <input type="email" id="input-apply-email" class="form-control"
                                   placeholder="输入作为用户名的邮箱" required ng-model="userInfo.name">
                        </div>
                        <div class="alert alert-danger" ng-if="invalidMessage.$form">
                            <i class="fa fa-warning"></i>{{invalidMessage.$form}}
                        </div>
                        <input type="submit" class="btn btn-submit-bc btn-lg btn-block" value="申请重置密码">
                    </form>
                </div>
            </div>
            <!-- /.col-xs-12 -->
        </div>
        <!-- /.row -->
    </div>
</div>