<div class="channel-form-bc">
    <form class="form-horizontal" ng-submit="save()">
        <div class="modal-body">
            <fieldset>
                <legend>{{formTitle}}</legend>
                <div class="form-group">
                    <label class="col-sm-3 control-label">用户名</label>
                    <div class="col-sm-6">
                        <input type="text" readonly="true" value="{{userName}}" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><sup><i class="fa fa-asterisk text-danger"></i></sup>原密码</label>
                    <div class="col-sm-6">
                        <input type="password" ng-model="user.password" class="form-control" required placeholder="输入原密码">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><sup><i class="fa fa-asterisk text-danger"></i></sup>新密码</label>
                    <div class="col-sm-6">
                        <input type="password" ng-model="user.newPwd1" class="form-control" required placeholder="输入新密码">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><sup><i class="fa fa-asterisk text-danger"></i></sup>新密码</label>
                    <div class="col-sm-6">
                        <input type="password" ng-model="user.newPwd2" class="form-control" required placeholder="确认新密码">
                    </div>
                </div>
                <div class="alert alert-danger" ng-if="invalidMessage.$infoForm">
                    <i class="fa fa-warning"></i>{{invalidMessage.$infoForm}}
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <a href="" class="btn btn-default" ng-click="dismiss()">关闭</a>
            <input type="submit" class="btn btn-submit-bc" value="保存">
        </div>
    </form>
</div>
