<app-navbar></app-navbar>

<div class="mock-activity-dashboard-bc container">
    <div class="row">
        <div class="col-xs-3">
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            请选择需要模拟的系统：
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <app-mocker-selector selected-mockers="selectedMockers"
                                                 disable-check="disableSelectMocker"></app-mocker-selector>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            启动／停止模拟：
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <button class="btn btn-info btn-block" ng-if="!activity || activity.status==='Stopped'" ng-click="startMock()">
                                开始模拟&nbsp;<i class="fa fa-play"></i>
                            </button>
                            <button class="btn btn-warning btn-block" ng-if="activity.status==='Running'" ng-click="pauseMock()">
                                暂停模拟&nbsp;<i class="fa fa-pause"></i>
                            </button>
                            <button class="btn btn-info btn-block" ng-if="activity.status==='Paused'" ng-click="resumeMock()">
                                恢复模拟&nbsp;<i class="fa fa-play"></i>
                            </button>
                            <button class="btn btn-danger btn-block" ng-if="activity && activity.status!=='Stopped'" ng-click="stopMock()">
                                结束模拟&nbsp;<i class="fa fa-stop"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            模拟器匹配日志：
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="activity-msg-panel-bc">
                            <div ng-repeat="hit in activity.mockHits.latestHits" class="msg" ng-class="">
                                <i class="fa fa-compress" ng-class=""></i> 匹配成功
                                <span>{{hit.request.header.method}}</span>
                                <span>{{hit.request.header.url}}</span>
                                <span ng-if="hit.request.body.content">
                                    <abbr title="{{hit.request.body.content}}">{...}</abbr>
                                </span>
                            </div>
                            <div class="msg msg-success"> <i class="fa fa-compress"></i> msg msg-success msg-success-text</div>
                            <div class="msg msg-danger msg-danger-text"> <i class="fa fa-question-circle"></i> msg msg-success msg-success-text</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>