<app-navbar></app-navbar>

<div class="mock-activity-dashboard-bc container">
    <div class="row">
        <div class="col-xs-3">
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            请选择需要模拟的系统：
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <app-mocker-selector selected-mockers="selectedMockers"
                                                 disable-check="disableSelectMocker"></app-mocker-selector>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            启动／停止模拟：
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <button class="btn btn-info btn-block" ng-if="!activity || activity.status==='Stopped'" ng-click="startMock()">
                                开始模拟&nbsp;<i class="fa fa-play"></i>
                            </button>
                            <button class="btn btn-warning btn-block" ng-if="activity.status==='Running'" ng-click="pauseMock()">
                                暂停模拟&nbsp;<i class="fa fa-pause"></i>
                            </button>
                            <button class="btn btn-info btn-block" ng-if="activity.status==='Paused'" ng-click="resumeMock()">
                                恢复模拟&nbsp;<i class="fa fa-play"></i>
                            </button>
                            <button class="btn btn-danger btn-block" ng-if="activity && activity.status!=='Stopped'" ng-click="stopMock()">
                                结束模拟&nbsp;<i class="fa fa-stop"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            模拟器匹配日志：
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="activity-msg-panel-bc">
                            <div ng-repeat="hit in hits" class="msg"
                                 ng-class="{true:'msg-success', false:'msg-danger msg-danger-text'}[hit.match]">
                                <i class="fa" ng-class="{true:'fa-compress', false:'fa-question-circle'}[hit.match]"></i>
                                <span ng-if="hit.match">匹配成功：</span>
                                <span ng-if="!hit.match">匹配失败：</span>
                                <span>{{hit.request.header.method}}</span>
                                <span>/{{hit.request.header.url}}</span>
                                <span ng-if="hit.request.body.content">
                                    <abbr title="{{hit.request.body.content}}">{...}</abbr>
                                </span>

                                <span ng-if="hit.match">
                                <i class="fa fa-exchange"></i>
                                    <span>HTTP/1.1 {{hit.response.header.statusCode}}</span>
                                    <span>[{{hit.response.header.contentType}};charset=UTF-8]</span>
                                    <span ng-if="hit.response.body.content">
                                        <abbr title="{{hit.response.body.content}}">{...}</abbr>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>