<div class="mocker-list-panel-bc">
    <div ng-repeat="mocker in mockers" class="list-item row">
        <div class="item-container">
            <div class="item-icon">
                <div ng-if="mocker.type === 'Private'"><i class="fa fa-lock fa-2x"></i></div>
                <div ng-if="mocker.type === 'Public'"><i class="fa fa-rss fa-2x"></i></div>
            </div>
            <a href="" ng-click="onItemClick({mocker: mocker})">{{mocker.name}}</a>
            <i class="fa fa-retweet count" tooltip="有{{mocker.ruleCount}}条规则" tooltip-trigger tooltip-placement="bottom">{{mocker.ruleCount}}</i>
            <i class="fa fa-crosshairs count" tooltip="0次匹配规则成功" tooltip-trigger tooltip-placement="bottom">0</i>
            <i class="fa fa-eye count" tooltip="有{{mocker.watcherCount}}个关注" tooltip-trigger tooltip-placement="bottom">{{mocker.watcherCount}}</i>
            <button class="btn btn-xs btn-danger pull-right" ng-if="mockerGroup === 'watched'" ng-click="unwatch(mocker)">
                <i class="fa fa-eye-slash"></i>取消关注
            </button>
        </div>
    </div>
</div>