<div class="list-group mocker-count-sidebar-bc">
    <a href="" class="list-group-item visitor">
        <h3 class="pull-right">
            <i class="fa fa-retweet"></i>
        </h3>
        <h4 class="list-group-item-heading count">{{mocker.ruleCount}}</h4>
        <p class="list-group-item-text">规则总数</p>
    </a>
    <a href="" class="list-group-item visitor">
        <h3 class="pull-right">
            <i class="fa fa-crosshairs"></i>
        </h3>
        <h4 class="list-group-item-heading count">0</h4>
        <p class="list-group-item-text">匹配成功次数</p>
    </a>
    <a href="" class="list-group-item visitor">
        <h3 class="pull-right">
            <i class="fa fa-eye"></i>
        </h3>
        <h4 class="list-group-item-heading count">0</h4>
        <p class="list-group-item-text">关注人数</p>
    </a>
</div>
