<div class="rule-creator-form-bc">
    <form ng-submit="save()">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">当有如下请求时：</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="input-url">URL：</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">http://your_domain/</div>
                                        <input type="text" ng-model="rule.request.header.url" class="form-control" id="input-url"
                                               placeholder="" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="input-method">Method：</label>
                                    <select class="form-control" id="input-method" ng-model="rule.request.header.method">
                                        <option>GET</option>
                                        <option>POST</option>
                                        <option>PUT</option>
                                        <option>DELETE</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div ng-if="rule.request.header.method === 'POST' || rule.request.header.method === 'PUT'" class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="input-req">Body：</label>
                                    <div class="btn-group btn-group-xs">
                                        <label class="btn btn-primary" ng-model="rule.request.body.type" btn-radio="'Text'">
                                            <i ng-if="rule.request.body.type !== 'Text'" class="fa fa-circle-o"></i>
                                            <i ng-if="rule.request.body.type === 'Text'" class="fa fa-dot-circle-o"></i>
                                            文本
                                        </label>
                                        <label class="btn btn-primary" ng-model="rule.request.body.type" btn-radio="'Json'">
                                            <i ng-if="rule.request.body.type !== 'Json'" class="fa fa-circle-o"></i>
                                            <i ng-if="rule.request.body.type === 'Json'" class="fa fa-dot-circle-o"></i>
                                            Json
                                        </label>
                                        <label class="btn btn-primary" disabled="disabled" ng-model="rule.request.body.type" btn-radio="'Form'">表单(后续开放)</label>
                                        <label class="btn btn-primary" disabled="disabled" ng-model="rule.request.body.type" btn-radio="'XML'">XML(后续开放)</label>
                                        <label class="btn btn-primary" disabled="disabled" ng-model="rule.request.body.type" btn-radio="'Expression'">表达式(后续开放)</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea ng-model="rule.request.body.content" id="input-req" class="form-control"
                                              rows="9"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">返回如下响应：</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="input-code">Status Code：</label>
                                    <div class="input-group">
                                        <select class="form-control" id="input-code" ng-model="rule.response.header.statusCode">
                                            <option value="200">200 OK</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="input-ct">Content Type：</label>
                                    <select class="form-control" id="input-ct" ng-model="rule.response.header.contentType">
                                        <option>application/json</option>
                                        <option>text/html</option>
                                        <option>text/xml</option>
                                        <option>text/plain</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="input-resp">Body：</label>
                                    <textarea ng-model="rule.response.body.content" id="input-resp" class="form-control"
                                             rows="11"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-submit-bc btn-lg">保存规则</button>
    </form>
</div>