<div class="rule-creator-form-bc">
    <form ng-submit="save()">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">当有如下请求时：</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="input-url">URL：</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">http://your_domain/</div>
                                        <input type="text" ng-model="rule.request.header.url" class="form-control" id="input-url"
                                               placeholder="" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="input-method">Method：</label>
                                    <select class="form-control" id="input-method" ng-model="rule.request.header.method">
                                        <option>GET</option>
                                        <option>POST</option>
                                        <option>PUT</option>
                                        <option>DELETE</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div ng-if="rule.request.header.method === 'POST' || rule.request.header.method === 'PUT'" class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="input-req-text">Body：</label>
                                    <br/>
                                    <div class="btn-group btn-group-xs">
                                        <label class="btn btn-primary" ng-model="rule.request.body.type" btn-radio="'Text'">
                                            <i ng-if="rule.request.body.type !== 'Text'" class="fa fa-circle-o"></i>
                                            <i ng-if="rule.request.body.type === 'Text'" class="fa fa-dot-circle-o"></i>
                                            文本
                                        </label>
                                        <label class="btn btn-primary" ng-model="rule.request.body.type" btn-radio="'Json'">
                                            <i ng-if="rule.request.body.type !== 'Json'" class="fa fa-circle-o"></i>
                                            <i ng-if="rule.request.body.type === 'Json'" class="fa fa-dot-circle-o"></i>
                                            Json
                                        </label>
                                        <label class="btn btn-primary" disabled="disabled" ng-model="rule.request.body.type" btn-radio="'Form'">表单(后续开放)</label>
                                        <label class="btn btn-primary" ng-model="rule.request.body.type" btn-radio="'XML'">
                                            <i ng-if="rule.request.body.type !== 'XML'" class="fa fa-circle-o"></i>
                                            <i ng-if="rule.request.body.type === 'XML'" class="fa fa-dot-circle-o"></i>
                                            XML
                                        </label>
                                        <label class="btn btn-primary" disabled="disabled" ng-model="rule.request.body.type" btn-radio="'Expression'">表达式(后续开放)</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea ng-if="rule.request.body.type === 'Text'" ng-model="rule.request.body.content"
                                              id="input-req-text" class="form-control" rows="9"></textarea>
                                    <textarea ng-if="rule.request.body.type === 'Json'" ng-model="rule.request.body.content" ui-codemirror
                                              ui-codemirror-opts="jsonBodyEditorOptions" id="input-req-json" class="form-control"></textarea>
                                    <textarea ng-if="rule.request.body.type === 'XML'" ng-model="rule.request.body.content" ui-codemirror
                                              ui-codemirror-opts="xmlBodyEditorOptions" id="input-req-xml" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-submit-bc btn-lg">保存规则</button>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">返回如下响应：</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="input-code">Status Code：</label>
                                    <div class="input-group">
                                        <select class="form-control" id="input-code" ng-model="rule.response.header.statusCode">
                                            <option value="200">200 OK</option>
                                            <option value="201">201 Created</option>
                                            <option value="202">202 Accepted</option>
                                            <option value="400">400 Bad Request</option>
                                            <option value="401">401 Unauthorized</option>
                                            <option value="402">402 Payment Required</option>
                                            <option value="403">403 Forbidden</option>
                                            <option value="404">404 Not Found</option>
                                            <option value="405">405 Method Not Allowed</option>
                                            <option value="406">406 Not Acceptable</option>
                                            <option value="407">407 Proxy Authentication Required</option>
                                            <option value="408">408 Request Timeout</option>
                                            <option value="409">409 Conflict</option>
                                            <option value="410">410 Gone</option>
                                            <option value="411">411 Length Required</option>
                                            <option value="412">412 Precondition Failed</option>
                                            <option value="413">413 Request Entity Too Large</option>
                                            <option value="414">414 Request-URI Too Long</option>
                                            <option value="415">415 Unsupported Media Type</option>
                                            <option value="416">416 Requested Range Not Satisfiable</option>
                                            <option value="417">417 Expectation Failed</option>
                                            <option value="500">500 Internal Server Error</option>
                                            <option value="501">501 Not Implemented</option>
                                            <option value="502">502 Bad Gateway</option>
                                            <option value="503">503 Service Unavailable</option>
                                            <option value="504">504 Gateway Timeout</option>
                                            <option value="505">505 HTTP Version Not Supported</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="input-ct">Content Type：</label>
                                    <select class="form-control" id="input-ct" ng-model="rule.response.header.contentType">
                                        <option>application/json</option>
                                        <option>application/javascript</option>
                                        <option>text/html</option>
                                        <option>text/xml</option>
                                        <option>text/plain</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="input-headers" ng-click="showHeaderGrid = !showHeaderGrid;" ng-init="showHeaderGrid = false;">
                                        <i class="fa fa-chevron-circle-right" ng-if="!showHeaderGrid"></i>
                                        <i class="fa fa-chevron-circle-down" ng-if="showHeaderGrid"></i>
                                        Headers：
                                        <span class="badge">{{getHeaderSize(rule.response.header.headers)}}</span>
                                    </label>
                                    <div ng-if="showHeaderGrid">
                                        <div class="row" ng-repeat="(hkey, hvalue) in rule.response.header.headers">
                                            <div class="col-xs-10">
                                                <div class="input-group">
                                                    <input type="text" ng-model="hkey" class="form-control" placeholder="" required/>
                                                    <div class="input-group-addon">=</div>
                                                    <input type="text" ng-model="hvalue" class="form-control" placeholder="" required/>
                                                </div>
                                            </div>
                                            <div class="col-xs-1">
                                                <a class="btn btn-danger" ng-click="removeHeader(hkey)"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-10">
                                                <div class="input-group">
                                                    <input type="text" ng-model="newHeader.key" class="form-control" id="input-headers"
                                                           placeholder=""/>
                                                    <div class="input-group-addon">=</div>
                                                    <input type="text" ng-model="newHeader.value" class="form-control" placeholder=""/>
                                                </div>
                                            </div>
                                            <div class="col-xs-1">
                                                <a class="btn btn-success" ng-click="addHeader()"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="input-resp">Body：</label>
                                    <textarea ng-model="rule.response.body.content" id="input-resp" class="form-control"
                                             rows="11"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>